*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-grey-dark);
  padding: 3rem; }

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #095fab 10%, #25abe8 50%, #57d75b 60%);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite; }
  .heading-secondary:hover {
    transform: skewY(2deg); }

@keyframes textclip {
  to {
    background-position: 200% center; } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-dark); }
  .btn--white::after {
    background-color: var(--color-white); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--anime {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.section-about {
  background-color: var(--color-grey-light-1);
  padding: 25rem 0;
  margin-top: -20vh; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(0, 180, 133, 0.8)), url(../images/main-1.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5.5rem;
    transition: all 0.2s; }
  .header__logo:hover {
    transform: translateY(-3px); }
  .header__logo:active {
    transform: translateY(-1px); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: var(--grid-width);
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: var(--gutter-v); }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    background-color: orangered;
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: var(--gutter-h); }
  .row .col-1-of-2 {
    width: calc((100% - var(--gutter-h)) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * var(--gutter-h)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * var(--gutter-h)) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * var(--gutter-h)) / 3) + var(--gutter-h)); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * var(--gutter-h)) / 4) + var(--gutter-h)); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * var(--gutter-h)) / 4) + 2 * var(--gutter-h)); }

:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark: #777;
  --color-white: #fff;
  --color-black: #000;
  --grid-width: 114rem;
  --gutter-v: 8rem;
  --gutter-h: 2rem; }
