.footer {
  background-color: var(--color-dark-dif);
  padding: 10rem 0;
  font-size: 1.4rem;
  align-items: center;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__data {
    display: flex;
    align-items: center;
    padding-left: 7rem;
    //margin-bottom: 2rem;
  }

  &__icon {
    font-size: 1.5rem;
    margin-right: 3rem;
    width: 20%;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(-1px);
    }
  }

  &__subtitle {
    color: var(--color-white);
    display: block;
    font-weight: 900;
    font-size: 2rem;
  }

  &__small {
    color: var(--color-white);
    font-size: 1.5rem;
  }

  &__nav {
    border-top: 1px solid var(--color-grey-dark);
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__copyright {
    border-top: 1px solid var(--color-grey-dark);
    padding-top: 2rem;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-grey-light-1);
      background-color: var(--color-dark-dif);
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: var(--color-primary);
      box-shadow: 0 1rem 2rem rgba(#000, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }
}
