// .skills {
//   width: 75%;
//   margin: 0 auto;
//   box-shadow: 0 3rem 6rem rgba(#000, 0.1);
//   background-color: var(--color-white);
//   border-radius: 3px;
// }

// .skills {
//   &__container {
//     row-gap: 2rem;
//   }

//   &__subtitle {
//     font-size: 2rem;
//     color: var(--color-primary);
//     margin-bottom: var(--m2);
//   }

//   &__data {
//     position: relative;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 var(--m2);
//     margin-bottom: var(--m4);
//   }

//   &__name {
//     text-transform: uppercase;
//   }

//   &__bar {
//     position: absolute;
//     bottom: -0.75rem;
//     height: 0.25rem;
//     background-color: var(--color-primary);
//   }

//   &__html {
//     width: 80%;
//   }

//   &__js {
//     width: 90%;
//   }

//   &__react {
//     width: 80%;
//   }

//   &__vue {
//     width: 60%;
//   }

//   &__java {
//     width: 80%;
//   }

//   &__node {
//     width: 90%;
//   }

//   &__firebase {
//     width: 80%;
//   }

//   &__python {
//     width: 60%;
//   }
// }

.examples {
  display: block;
  //   margin-bottom: 65px;
  padding: 3.8rem 3%;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.157);
  position: relative;

  //   &:last-child {
  //     margin-bottom: 20px;
  //   }

  h3 {
    color: #444;
    // margin: 0;
    // padding: 0 0 20px 0;
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.skills__name {
  text-transform: uppercase;
}

/* -----------------------------------------------------
	Header
-------------------------------------------------------- */
// header {
//   display: block;
//   width: 100%;
//   padding: 20px 0;
//   text-align: center;
//   background-color: #fff;
//   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

//   h2 {
//     margin: 0;
//     padding: 25px 0;
//     color: #646360;
//     font-size: 2em;
//     letter-spacing: 1px;
//   }

//   .project {
//     display: block;
//     padding: 8px 0;
//   }
// }

/* -----------------------------------------------------
	Footer
-------------------------------------------------------- */
// footer {
//   display: block;
//   overflow: hidden;
//   width: 100%;
//   min-height: 80px;
//   background-color: #fff;
//   border-top: 1px solid #eee;

//   .row {
//     width: 100%;
//     max-width: 860px;
//     margin: 0 auto;
//   }

//   .footer-content {
//     margin: 0 8px;
//     padding: 25px 0 18px;
//     text-align: center;

//     span {
//       color: rgba(0, 0, 0, 0.525);
//       font-size: 0.857em;
//       margin-right: 5px;
//     }
//   }

//   @media only screen and (max-width: 768px) {
//     span {
//       display: block;
//       width: 100%;
//       margin-bottom: 8px;
//     }
//   }
// }

/* -----------------------------------------------------
	Buttons
-------------------------------------------------------- */
// .btn1,
// .btn {
//   color: #fff;
//   display: inline-block;
//   position: relative;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: baseline;
//   white-space: nowrap;
//   cursor: pointer;
//   outline: none;
//   border-radius: 3px;

//   &:hover {
//     text-decoration: none;
//   }
// }

// .gitBtn,
// .penBtn {
//   height: 38px;
//   font-size: 1.1em;
//   line-height: 38px;
//   margin-right: 10px;
//   padding: 0px 22px;
//   border: 1px solid #ffa500;
//   background-color: #ffa500;
//   box-shadow: 0px 2px rgba(0, 0, 0, 0.157);

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .btn {
//   height: 30px;
//   font-size: 12px;
//   font-weight: bold;
//   line-height: 30px;
//   padding: 0px 14px;

//   &.btn-primary {
//     border: 1px solid #ffa500;
//     background-color: #ffa500;

//     &:hover {
//       border: 1px solid darken(#ffa500, 3%);
//       background-color: darken(#ffa500, 3%);
//     }
//   }
// }

/* -----------------------------------------------------
	CSS Progress Bars
-------------------------------------------------------- */
.cssProgress {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;

  .progress2 {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    //background: var(--color-primary);
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.8s ease-in-out;
  }

  .cssProgress-label {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7em;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  }

  .cssProgress-info {
    background-color: var(--bar-color-light-blue);
  }
  .cssProgress-danger {
    background-color: var(--bar-color-blue-dark);
  }
  .cssProgress-success {
    background-color: var(--bar-color-red-light);
  }
  .cssProgress-warning {
    background-color: var(--bar-color-green-dark);
  }
  .cssProgress-learn {
    background-color: var(--bar-color-green-light);
  }

  .cssProgress-right {
    float: right;
  }

  .cssProgress-label-left {
    margin-left: 10px;
    text-align: left;
  }

  .cssProgress-label-right {
    margin-right: 10px;
    text-align: right;
  }

  .cssProgress-label2 {
    display: block;
    margin: 2px 0;
    padding: 0 8px;
    font-size: 0.8em;

    &.cssProgress-label2-right {
      text-align: right;
    }
    &.cssProgress-label2-center {
      text-align: center;
    }
  }

  .cssProgress-stripes,
  .cssProgress-active,
  .cssProgress-active-right {
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.125) 50%,
      rgba(255, 255, 255, 0.125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 35px 35px;
  }
}

/* -----------------------------------------------------
	Progress Bar 2
-------------------------------------------------------- */
.progress2 {
  background-color: var(--color-grey-light-2);
  border-radius: 9px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);

  .cssProgress-bar {
    height: 18px;
    border-radius: 9px;
  }

  .cssProgress-label {
    line-height: 18px;
  }
}
