body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-grey-dark);
}

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft 1s ease-in-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-fun-1) 10%,
    var(--color-fun-2) 50%,
    var(--color-fun-3) 60%
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: var(--color-white);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;

  &--options {
    margin-right: 15rem;
    margin-left: 15rem;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tert {
  font-size: var(--def-font-size);
  font-weight: 700;
  text-transform: uppercase;
  // margin: 1rem;

  &--2 {
    margin-bottom: 2rem;
  }
}

.paragraph {
  font-size: var(--def-font-size);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
