:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  // --color-secondary-light-1: #ffb900;
  // --color-secondary-light-2: #ff7730;
  // --color-tert-light-1: #2998ff;
  // --color-tert-light-2: #5643fa;

  --color-grey-light-1: #f7f7f7;

  --color-grey-dark: #777;
  --color-white: #fff;
  --color-black: #000;

  --color-fun-1: #095fab;
  --color-fun-2: #25abe8;
  --color-fun-3: #57d75b;

  --def-font-size: 1.6rem;

  --grid-width: 114rem;
  --gutter-v: 8rem;
  --gutter-h: 6rem;
}
