:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-secondary-light-1: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-secondary-light-2: #2998ff;
  --color-secondary-dark-2: #5643fa;
  --color-secondary-light-3: #ed5107;
  --color-secondary-dark-3: #c70d3a;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-dif: #999;
  --color-dark-dif: #0f1123;
  --color-dark-dif-2: #333;
  --color-white: #fff;
  --color-black: #000;

  --color-fun-1: #095fab;
  --color-fun-2: #25abe8;
  --color-fun-3: #57d75b;

  --def-font-size: 1.6rem;

  --grid-width: 114rem;
  --gutter-v-s: 6rem;
  --gutter-v: 8rem;
  --gutter-h: 6rem;

  --bar-color-light-blue: #3798d9;
  --bar-color-blue-dark: #9575cd;
  --bar-color-red-light: #ef5350;
  --bar-color-green-dark: #66bb6a;
  --bar-color-green-light: #ffb74d;
}

// rgba(126, 213, 111, 0.8),
//       rgba(0, 180, 133, 0.8)
//     ),

// --bar-color-light-blue: #3798d9;
// --bar-color-blue-dark: #5643fa;
